body {
    margin: 0;
    padding: 0;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
  }
  .logo>.logoimg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  .navbar{
    padding: 0;
    width: 100%;
    max-width: 950px;
    margin: auto;
    align-items: center;
    display: flex;
    height:auto;
  }
  .product h6{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px; 
  }
  .card{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
  }
  .producto{
    width: 500px;
    max-width: 500px;
    background-color: #fafafa;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-top: 2%;
  }
  .producto img{
    width: 70%;
    max-width: 950px;
    height: 60%;
  }
  section{
    width: 100%;
    max-width: 950px;
    min-height: 950px;
    border: 1px solid #ddd;
    padding: 2%;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 80%;
    margin: auto;
    background-color: #fafafa;
    text-align: center;
  }

* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
  
