body {
  background:url(https://images5.alphacoders.com/320/320480.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;
}
.logo>.logoimg{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.menu{
  padding: 0;
  background:rgb(46, 46, 46);
  width: 100%;
  max-width: 930px;
  margin: auto;
  align-items: center;
  display: flex;
  height:40px;
}
.menu-items{
  display: flex;
  list-style: none;
  margin:auto;
}
.bton-login{
  justify-content: flex-end;
  display: flex;
  list-style: none;
  margin:auto;
}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 5px;
  display: block;
  font-family: Times;
}
.menu li{
  display: inline-block;
}
.menu li a:hover{
  background: rgb(3, 122, 43);
}
.menu li b{
  text-decoration: none;
  color: white;
  padding: 5px;
  display: block;
  font-family: Times;
}
.menu li b:hover{
  background: rgb(3, 114, 122);
}
.carousel{
  width: 100%;
  max-width: 930px;
  margin: auto;
  align-items: center;
  display: flex;
}