{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}    

{% block body %}
        <!-- Carousel -->
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/carousel/C01.png' %}" class="d-block w-100" alt="banner 1">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carousel/C02.png' %}" class="d-block w-100" alt="banner 2">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carousel/C03.png' %}" class="d-block w-100" alt="banner 3">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carousel/C04.png' %}" class="d-block w-100" alt="banner 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>

        <!-- navbar nuevo -->
        <nav class="navbar-2 navbar-dark bg-dark">
              <span class="navbar-brand mb-0 h1">NUEVO</span>

          </nav>


        <h2>Productos</h2>
          <div class="productos">
            {% for p in productos %}
            <div class="producto">

              <div class="contenedor_producto">
                
                <img src="{% static 'img/productos/cpu intel i7' %}" alt="imagen producto">
                <div class="detalle">
                  <h2>Nombre</h2>
                  <h3>fabricante</h3>
                  <h3>precio</h3>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
{% endblock %}