{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>mb</title>
{% endblock %}    

{% block body %}
        <!-- navbar nuevo -->
        <nav class="navbar-2 navbar-dark bg-dark">
              <span class="navbar-brand mb-0 h1">NUEVO</span>
          </nav>



          <div class="card" style="width: 15rem;">
            <img src="{% static 'img/productos/pc-logo.jpg' %}" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
              <la class="list-group-item">Nombre:</la>
              <li class="list-group-item">Fabricante:</li>
              <li class="list-group-item">Precio:</li>
              <li class="list-group-item">Stock:</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Agregar</a>
              <a href="#" class="card-link">Ver</a>
            </div>
          </div>


{% endblock %}