<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="css/estilos.css">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                
              <a class="navbar-brand" href="#">
                <li class="logo"><img src="images/pc-logo.jpg" class="logoimg"></li>
              </a>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  <a class="nav-link" href="#">MB</a>
                  <a class="nav-link" href="#">CPU</a>
                  <a class="nav-link" href="#">GPU</a>
                  <a class="nav-link" href="#">PSU</a>
                  <a class="nav-link" href="#">RAM</a>
                  <a class="nav-link" href="#">HDD</a>
                  <a class="nav-link" href="#">SSD</a>
                  <a class="nav-link" href="#">M2</a>
                </div>
                <body background="images/backgroud.jpg">
                </body>
                </div>
              </div>
            </div>

          </nav>
        <!-- Carousel -->
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/C01.png" class="d-block w-100" alt="banner 1">
              </div>
              <div class="carousel-item">
                <img src="images/C02.png" class="d-block w-100" alt="banner 2">
              </div>
              <div class="carousel-item">
                <img src="images/C03.png" class="d-block w-100" alt="banner 3">
              </div>
              <div class="carousel-item">
                <img src="images/C04.png" class="d-block w-100" alt="banner 4">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        <!-- navbar nuevo -->
        <nav class="navbar-2 navbar-dark bg-dark">
              <span class="navbar-brand mb-0 h1">NUEVO</span>
          </nav>

          <section>
            <div class="producto">
              <center>
              <div class="card">
              <img src="images/mb asus.png" alt="ROG Strix B550-i Gaming">
              <h6>ROG Strix B550-i Gaming</h6>
              <p>Fabricante: Asus</p>
              <p>Precio: $259.000</p>
              <p>Stock: 1</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div> 
            
            <div class="producto">
              <center>
              <div class="card">
              <img src="images/cpu intel i7.jpg" alt="I7-10700KF">
              <h6>I7-10700KF</h6>
              <p>Fabricante: Intel</p>
              <p>Precio: $300.000</p>
              <p>Stock: 19</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/cpu r5 3600x.jpg" alt="Ryzen R5 3600X">
              <h6>Ryzen R5 3600X</h6>
              <p>Fabricante: AMD</p>
              <p>Precio: $250.000</p>
              <p>Stock: 23</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/gpu palit.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2.499.000</p>
              <p>Stock: 1</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/gpu amd 6800xt.jpg" alt="RX 6800XT NITRO+">
              <h6>RX 6800XT NITRO+</h6>
              <p>Sapphire</p>
              <p>Precio: $1.100.000</p>
              <p>Stock: 2</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/gpu nvd 3070.jpg" alt="RTX 3070 Gaming X Trio">
              <h6>RTX 3070 Gaming X Trio</h6>
              <p>Fabricante: MSI</p>
              <p>Precio: $1.200.000</p>
              <p>Stock: 1</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/psu tt.jpg" alt="Toughpower IRGB Plus 10">
              <h6>Toughpower IRGB Plus 10</h6>
              <p>Fabricante: Thermaltake</p>
              <p>Precio: $200.000</p>
              <p>Stock: 1</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/ram tforce.jpg" alt="VULCAN Z 8GB 3200MHZ">
              <h6>VULCAN Z 8GB 3200MHZ</h6>
              <p>Fabricante: T-FORCE</p>
              <p>Precio: $53.000</p>
              <p>Stock: 12</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/ram corsair.png" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/ram hpx.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/hdd seagate.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/ssd wd.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/ssd samsung.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/m2 hp.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/m2 barracuda.jpg" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>

            <div class="producto">
              <center>
              <div class="card">
              <img src="images/m2 wester digital.png" alt="GeForce RTX 3090 24GB">
              <h6>GeForce RTX 3090 24GB</h6>
              <p>Fabricante: Palit</p>
              <p>Precio: $2</p>
              <p>Stock: 1</p>
            </center>
            </div>
      </section>
</div>

        <script src="js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    </body>
</html>
