<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="css/estilos.css">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                
              <a class="navbar-brand" href="#">
                <li class="logo"><img src="images/pc-logo.jpg" class="logoimg"></li>
              </a>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="base.html">Inicio</a>
                  <a class="nav-link" href="mb.html">MB</a>
                  <a class="nav-link" href="cpu.html">CPU</a>
                  <a class="nav-link" href="gpu.html">GPU</a>
                  <a class="nav-link" href="psu.html">PSU</a>
                  <a class="nav-link" href="ram.html">RAM</a>
                  <a class="nav-link" href="hdd.html">HDD</a>
                  <a class="nav-link" href="ssd.html">SSD</a>
                  <a class="nav-link" href="m2.html">M2</a>
                </div>
                <body background="images/backgroud.jpg">
                </body>
                </div>
              </div>
            </div>
          </nav>
          <section>
            <div class="producto">
              <center>
              <div class="card">
              <img src="images/mb asus.png" alt="ROG Strix B550-i Gaming">
              <h6>ROG Strix B550-i Gaming</h6>
              <p>Fabricante: Asus</p>
              <p>Precio: $259.000</p>
              <p>Stock: 1</p>
              <a class="agregar" href="#">Agregar</a>
            </center>
            </div> 
      </section>
</div>

        <script src="js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    </body>
</html>